


.mo-counter-to {
    display: flow-root;
    .timeinfo {
        height: 30px;
        border: 1px solid red;
    }
    .moct-n {
        position: relative;
        .moct-nv {
            overflow: hidden;
            .mo-nv-hidden {
                opacity: 0;
            }
        }
        .moct-nv, .moct-d {
            float: left;
        }
        .moct-s {
            position: absolute;
            opacity: 0;
            top: 0px;
        }
    }
    .mocounter {
        width: auto;
        clear: both;
        .moview-to {
            overflow: hidden;
        }
        .moview {
            display: block;
            float: left;
            .mo-d {
                float: left;
            }
            
            .mo-dtsnd {
                opacity: 1;
                transition: opacity --mo-counter-animation-speed linear;
                &.hidden {
                    opacity: 0;
                }
            }
        }
    }

    
}