body {
    margin: 0;
    padding: 0;
    width: 100%;
    h1, h2, h3, h4, h5, h6, p {
        display: flow-root;
        width: 100%;
        clear: both;
    }
    h2 {
        font-size: 60px;
    }
}