
$mo-main-bg-color: #dab025;
$mo-number-bg-color: #FFFFFF;
$mo-number-text-color: #000000;
$mo-divider-text-color: #FFFFFF;

.calendar-fast {
    --mo-counter-animation-speed: 0.1s;
    $mo-counter-animation-speed: 0.1s;
    
    &.mo-counter {
        &.mo-up, &.mo-down {
            .mo-n {
                &:not(.mo-nms) {
                    .mosign {
                        transition: all $mo-counter-animation-speed ease;
                        transition: all var(--mo-counter-animation-speed, $mo-counter-animation-speed) ease;
                    }
                }
            }
        }
    }
}
