
$mo-main-bg-color: #c89332;
$mo-number-bg-color: #FFFFFF;
$mo-number-text-color: #000000;
$mo-divider-text-color: #FFFFFF;

.calendar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    .moview {
        display: inline-block;
        background-color:$mo-main-bg-color;
        padding: 10px;
        font-size: 60px;
        font-weight: bold;
        // width: 60px;
        margin-right: 10px;
        .mo-n {
            background-color: $mo-number-bg-color;
            color: $mo-number-text-color;
            display: flex;
            justify-content: center;
            padding: 15px 0px 15px 0px;
            border-radius: 3px;
        }
        .mo-d {
            color: $mo-divider-text-color;
            font-size: 12px;
            font-weight: lighter;
            margin-top: 5px;
        }
    }
    &.mo-counter {
        transition: all 1s;
        opacity: 1;
        .fadeout {
            opacity: 0;
        }
        .complete-message {
            opacity: 0;
            &.fadein {
                opacity: 1;
            }
        }
    }
}
