.calendar-light {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    min-height: 600px;
    background-image: url("../img/demo.jpg");
    background-size: cover;
    background-position: center;
    .moview {
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 10px;
        font-size: 24px;
        font-weight: bold;
        width: 50px;
        margin-right: 10px;
        border-radius: 7px;
        border: 1px solid white;
        .mo-n {
            display: flex;
            justify-content: center;
            padding: 5px 0px 0px 0px;
        }
        .mo-d {
            font-size: 12px;
            font-weight: lighter;
            margin-top: 5px;
            width: 100%;
            text-align: center;
        }
    }
}
