
$backgroundcolor: rgb(214, 157, 50);
$number-background: rgb(255, 255, 255);
$number-color: #000000;

.mo-counter-to {
    --mo-counter-animation-speed: 0.01s;
    $mo-counter-animation-speed: 0.01s;

    &[data-type="slots"] {
        --mo-counter-animation-speed: 0.25s;
        $mo-counter-animation-speed: 0.25s;
    }
    &.mo-counter {
        &.mo-up, &.mo-down {
            .mo-n {
                &:not(.mo-nms) {
                    .mosign {
                        transition: all $mo-counter-animation-speed ease;
                        transition: all var(--mo-counter-animation-speed, $mo-counter-animation-speed) ease;
                    }
                }
            }
        }
    }
    .mocounter {
        background-color: $backgroundcolor;
        width: auto;
        float: left;
        padding: 10px;
        .moview {
            display: block;
            float: left;
            font-size: 40px;
            &.moview-to {
                background: $number-background;
                padding: 0px 10px;
                margin: 0px 10px;
                .mosign {
                    color: $number-color;
                }
                // .mo-n {
                //     > div {
                //         font-size: 40px;
                //     }
                // }
            }
        }
    }
}