.plate {
    display: block;
    background-color: #c83296;
    padding-top: 1px;
    text-align: center;
    color: white;
    font-size: 34px;
    padding-bottom: 15px;
    .mocounter {
        background-color: white;
        color: #c83296;
        border-radius: 8px;
        margin: 10px;
        .moview {
            display: inline-block;
            font-size: 54px;
            font-weight: bold;
            width: calc(100% / 5);
            .mo-n {
                display: flex;
                justify-content: center;
                margin: 15px 0px 15px 0px;
            }

            &:not(:nth-child(5)) {
                .mo-n,
                .mo-d {
                    border-right: 2px solid #c83296;
                }
            }
            .mo-d {
                font-size: 20px;
                font-weight: lighter;
                margin-top: -20px;
                margin-bottom: 20px;
                width: 100%;
                text-align: center;
                margin-left: -2px;
            }
        }
    }
}

.plate {
    .mo-counter {
        @media (max-width: 767px) {
            &.responsive {
                .mocounter {
                    .moview {
                        &:not(:nth-child(5)) {
                            .mo-d {
                                border-right: none;
                            }
                        }
                        &:nth-child(5) {
                            .mo-n {
                                border-right: 2px solid #c83296;
                            }
                        }
                        .mo-d {
                            text-align: center;
                            margin-top: 35px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
