


.textdesign-1{
    color: black;
    .prefix {
        float: left;
        padding: 0 15px 0 0;
    }
    .moview {
        font-size: 16px;
        .mo-n {
            font-weight: bold;
        }
        .mo-d  {
            padding: 0px 15px 0px 15px;
        }
    }
}