@keyframes mo-o-u {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: -$animationOffset;
        opacity: 0;
    }
}
@keyframes mo-i-u {
    0% {
        top: $animationOffset;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes mo-o-d {
    0% {
        top: 0px;
        opacity: 1;
    }
    100% {
        top: $animationOffset;
        opacity: 0;
    }
}
@keyframes mo-i-d {
    0% {
        top: -$animationOffset;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@mixin generateNumberStyles($offset, $direction, $type) {
    @for $i from 0 through 9 {
        @for $j from 0 through 9 {
            @if $i != $j {
                @if $type == norm {
                    @if $direction == up {
                        @include numberAnimationUp($i, $j, "up");
                    } @else {
                        @include numberAnimationUp($i, $j, "down");
                    }
                } @else if $type == ms {
                    @include numberAnimationCurrent($i, $j);
                }
            } @else {
               @include numberAnimationCurrent($i, $j);
            }
        }
    }
}


@mixin numberAnimationUp($value, $from, $direction) {
    .mo-v#{$value}f#{$from} {
        .mo-s#{$from} {
            @if $direction == up {
                transform: translateY(-$animationOffset);
            } @else {
                transform: translateY($animationOffset);
            }
            opacity: 0;
        }
        .mo-s#{$value} {
            opacity: 1;
            transform: translateY(0px);
        }
    }
}

@mixin numberAnimationSM($value, $from) {
    .mo-v#{$value}f#{$from} {
        .mo-s#{$value} {
            opacity: 1 !important;
        }
    }
}

@mixin numberAnimationCurrent($value, $from) {
    .mo-v#{$value}f#{$from} {
        .mo-s#{$value} {
            opacity: 1 !important;
            transform: translateY(0px);
        }
    }
}

.mo-counter {
    .mocounter {
        clear: both;
        .moview {
            .mo-n {
                .mo-nv {
                    position: relative;
                    overflow: hidden;
                    float: left;
                    // transform: translateY(0px);
                    top: 0px;

                    &[data-value=""] {
                        display: none;
                    }
                    .mo-nv-hidden {
                        float: left;
                        opacity: 0;
                    }
                    .mosign {
                        position: absolute;
                        left: 0px;
                        opacity: 0;
                        
                    }
                }
            }

            .mo-d {
                float: left;
            }
        }
    } 
    &.mo-up {
        .mo-n {
            &:not(.mo-nms) {
                .mosign {
                    transform: translateY($animationOffset);
                    transition: all $mo-counter-transitionspeed ease;
                }
                @include generateNumberStyles($animationOffset, up, norm);
            }
            &.mo-nms {
                @include generateNumberStyles($animationOffset, up, ms);
            }
        }
    }

    &.mo-down {
        .mo-n {
            .mosign {
                transform: translateY(-$animationOffset);
                transition: all $mo-counter-transitionspeed ease;
            }
            &:not(.mo-nms) {
                @include generateNumberStyles(-$animationOffset, down, norm);
            }
            &.mo-nms {
                @include generateNumberStyles(-$animationOffset, down, ms);
            }
        }
    }
    &:not(.mo-up),&:not(.mo-down) {
        @include generateNumberStyles(-$animationOffset, down, ms);
    }
}
