


.mo-counter {
    display: flow-root;
    display: block;
    .mo-n {
        position: relative;
        overflow: hidden;
        .mo-nv { 
            position: relative;
            // overflow: hidden;
            .mo-nv-hidden {
                opacity: 0;
            }
        }
        .mo-nv, .moct-d {
            float: left;
        }
        .mo-s {
            position: absolute;
            opacity: 0;
            top: 0px;
        }
    }
    .mocounter {
        width: auto;
        clear: both;
        .moview-to {
            overflow: hidden;
        }
        .moview {
            display: block;
            float: left;
            .mo-d {
                float: left;
            }
            
            .mo-dtsnd {
                opacity: 0;
                transition: opacity --mo-counter-animation-speed linear;
                &.hidden {
                    opacity: 0;
                }
            }
        }
    }

    
}
