.mo-counter {
    &.responsive {
        .mocounter {
            @media (max-width: 767px) {
                .moview {
                    display: flex;
                    width: 100%;
                    .mo-n {
                        width: 50%;
                    }
                    .mo-d  {
                        width: 50%;
                    }
                }
            }
        }
    }
}